{% extends "base.html" %}

{% block body %}

<div id="mmbody" style="text-align:center;width:100%;height:100%;position: relative;padding: 25px">

    <h1> Most common Words in the Datasets</h1>
    <br>
   <!-- <div id="acd_top_interval"> LOADING .....</div> -->


    <div style="margin: 4em 10em 0 10em">

          <div class="row">
            <img src="/static/img/w1.png" alt="" >
          </div>
          <div class="row">
            <img src="/static/img/w2.png" alt="" >
          </div>
          <div class="row">
            <img src="/static/img/w3.png" alt="">
          </div>
                <div class="row">
            <img src="/static/img/w5.png" alt="">
          </div>
    </div>

</div>
{% end %}